<%- include('../partials/header') %>

<main class="main py-5" style="background-color: #FAF8F8;">
    <div class="container text-center">

        <h2 class="mb-4" style="color: #CD1624;">404 Error: Page does not exist</h2>
        <p class="mb-4">Hopefully there's no fire.</p>

        <img  
            src="https://i.etsystatic.com/14097537/r/il/b9a749/3250583637/il_794xN.3250583637_jt6v.jpg" 
            alt="#" 
            class="img-fluid rounded shadow mb-4" 
            style="max-width: 400px;">

        <div>
            <a href="/" class="btn btn-holiday-green">Back to Home</a>
        </div>

    </div>
</main>

<%- include('../partials/footer') %>