<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center"> 404 Error: Page does not exist.</h2>
    </div>
</main>

<%- include('../partials/footer') %>