<%- include('../partials/header') %>
    <main class="main" id="main">
        <div class="container">
            <h2>main</h2>
            <nav style="background:#222; padding:15px">
                <ul style="display:flex; gap:20px; list-style:none; margin:0; padding:0;">
                    <li><a href="/programs" style="color:#fff; text-decoration:none;">All Programs</a></li>  
                    <li><a href="/actors" style="color:#fff; text-decoration:none;">Actors</a></li>
                </ul>
            </nav>
        </div>
    </main>
<%- include('../partials/footer') %>
